.App {
  padding-right: 10em;
  padding-left: 10em;
}

.PokeSearch {
  display: flex;
}

.PokeSearch__input {
  border: 1.5px solid #c7c7c8;
  border-right: 0;
  border-radius: 2px;
  flex-grow: 1;
  padding: 5px 10px 5px 10px;
  outline: 0;
}

.PokeSearch__input::placeholder {
  color: #9d9d9d;
  font-weight: bold;
}

.PokeSearch__button {
  background: white;
  border: 2px solid #c7c7c8;
  padding-left: 8px;
  padding-right: 8px;
  outline: 0;
}

.errorHeader {
  color: red;
}

.PokeInfo__header {
  display: flex;
}

.PokeInfo__header__name {
  font-size: 25px;
}
