.App {
  padding-right: 10em;
  padding-left: 10em;
}

.PokeSearch {
  display: flex;
  justify-content: center;
}

.PokeSearch__input {
  background: rgb(220, 120, 130);
  border: 2px solid rgb(157, 58, 79);
  border-radius: 5px;
  color: rgb(253, 253, 253);
  font-size: 2em;
  margin-right: 5px;
  /* margin-left: 5px; */
  padding: 5px;
  /* width: 30em; */
}

.PokeSearch__button {
  background: rgb(97, 97, 150);
  border: 0;
  border-radius: 5px;
  color: white;
}

.errorHeader {
  color: red;
}